@use '../../shared/styles//variables' as *;

.main-unit {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: fit-content;
  transition: transform 0.5s ease-in-out;

  .spinner-loader {
    max-width: 5.5rem;
    object-fit: cover;
    animation: spin 1s infinite linear;
    position: relative;
    left: 2rem;
    user-select: none;
    pointer-events: none;
  }

  .gorilla-unit {
    height: 16rem;
    max-width: 16rem;
    user-select: none;
    pointer-events: none;
    transform-origin: bottom center;
    transition: transform 0.15s ease-out;

    &.standing {
      transform: rotate(-15deg);
    }
  }

  &.ducking {
    .gorilla-unit {
      transform: scaleY(0.5) skewX(5deg);
    }
    
    .spinner-loader {
      opacity: 0;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
