.main-unit {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: fit-content;
  transition: transform 0.5s ease-in-out;

  .spinner-loader {
    max-width: 5.5rem;
    object-fit: cover;
    animation: spin 1s infinite linear;
    position: relative;
    left: 2rem;
  }

  .gorilla-unit {
    height: 16rem;
    max-width: 16rem;

    &.standing {
      transform: rotate(-15deg);
    }
  }
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
